# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/
.vite/

# Local env files
.env
.env.*.local

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs
logs
*.log
*.log.*

# System files
Thumbs.db
ehthumbs.db

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Coverage
coverage/
